@import "font-awesome";
@import "config/reset";
@import "./variable";
@import "./messages";
@import "modules/user";

// @import "config/colors";
// @import "config/size";
// @import "mixins/mixin";
// @import "mixins/vendor_prefix";
// @import "modules/side_bar";
// @import "modules/chat";
// @import "messages/messages.scss";

.flash-box {
  color: #fff;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

.notice {
  background-color: $origin-blue;
}
